
.shopping-lists {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
  }
  
  .shopping-list-tile {
    background-color: #f0f0f0;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px; 
  }
  

  .shopping-list-tile h2 {
    margin-bottom: 8px;
  }
  

  .shopping-list-tile a {
    color: #3498db;
    text-decoration: none;
    display: inline-block;
    margin-top: 8px;
  }

  .add-list-button-container {
    text-align: center;
    margin-top: 20px;
  }
  
  .add-list-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  .add-list-button:hover {
    background-color: #45a049;
  }
  
  .add-list-button svg {
    margin-right: 8px;
  }

  .ReactModal__Overlay {
    opacity: 0;
    transition: opacity 200ms ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
  }
  
  .ReactModal__Overlay--after-open {
    opacity: 1;
  }
  
  .ReactModal__Overlay--before-close {
    opacity: 0;
  }
  
  .ReactModal__Content {
    transform: translateY(-50%);
    transition: transform 200ms ease-in-out;
  }
  
  .ReactModal__Content--after-open {
    transform: translateY(0);
  }
  
  .ReactModal__Content--before-close {
    transform: translateY(-50%);
  }
  
  .ModalContent {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
  }
  
  .ModalContent h2 {
    margin-bottom: 16px;
  }
  
  .ModalContent label {
    display: block;
    margin-bottom: 8px;
  }
  
  .ModalContent input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
  }
  
  .ModalContent button {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  .ModalContent button:hover {
    background-color: #2980b9;
  }

